/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** header ***********/
header{
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    width: 1440px;
    height: 79px;
    margin-bottom: 30px;
}

#logo_icone{
    display: flex;
    width: 161.9px;
    height: 79px;
}

#logo_icone img{
    width: 61.09px;
    height: 19px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav{
    display: flex;
    width: 244px;
    height: 35px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 70px;
    gap: 68px
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:16px;
    font-weight: 400;
    margin:5px;
    padding-top:15px;
    padding-bottom:15px;
    border-top:  2px solid transparent; 
}

nav a:hover{
border-top:  2px solid #0065FC; 
color: #0065FC;
}

/****** Info-Group ***********/

.info_group{
    display: flex;
    flex-direction: column;
    height: 281px;
    margin-bottom: 35px;
}

.headline{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 53px;
    margin-bottom: 35px;
}

.headline h1 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 22px;
}
.headline  p {
    margin-top: 0;
    margin-bottom: 35px;
}

.search_bar{
    display: flex;
    margin-bottom: 35px;
    height: 49px;
}

.formulaire  {
    display: flex;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
}

.fa-location-dot{
    color: #000000;
}

form img {
    width: 50px;
    height: 49px;
}

input[type="text"] {
    text-align: center; 
    font-size: 18px;
    font-weight: 700;
    border: 1px solid var(--Grey, #F2F2F2); 
}

input[type="submit"] {
    width: 132px;
    background-color:#0065FC;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.mag-btn{
    display: none;
}

.filter_bar {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 35px;
}

.filter_bar h3 {
    font-size: 18px;
    height: 21px;
    padding-right: 15px;
}


.filter-btn {
    height: 50px;
    padding-right: 19px;
    padding-left: 19px;
    border-radius: 25px;
    border: 2px solid var(--Grey-Tint2, #D9D9D9);
    background-color:white;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.filter_btn i {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.filter-btn:hover {
    background: var(--Blue-Light, #DEEBFF);
}

.infobar{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    height:24px;
}

.infobar i{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 23px;
    height: 23px;
    margin-right:10px;
    border-radius: 50px;
    border: 1px solid var(--Grey-Tint2, #D9D9D9);
    background-color:white;
}

.infobar p{
    margin:0px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités***********/
.element_activites {
    display: flex;
    flex-direction: column;
    width: 1340px;
    height: 560px;
    padding: 30px;
    margin-bottom: 35px;
    box-sizing: border-box;
}

.activites-title {
    display:flex;
    height: 30px;
    margin-top: 30px;
}

.activites_deck {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    padding: 30px 0;
}

.activites-card .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 0;
    width: 298px;
    height: 439px;
}

.activites-card .img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: fill
    /* pour dimensionner la photo object fit */
}

.activites-card .card-content   {
    padding: 0px 19px;
    align-self: stretch;
    box-sizing: border-box
}

.activites-card .card-title{
    margin: 20px 19px;
}

/****** Footer ***********/
footer {
    display: flex; 
    background-color:#F2F2F2;
    width: 1340px;
    height: 163px;
}

footer h3 {
    font-size:18px;
    font-weight: 700;
    margin: 0px;
    padding-bottom: 15px;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0px;
}

footer li {
    padding-bottom: 15px;
}

footer a {
    font-size:16px;
    font-weight: 400; 
    line-height: 18.78px;  
}

.class_footer {
    display: flex;
    flex-direction: column;
    width: 446.66px;
    height: 163px;
    padding: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        width: 100%;
        max-width: 1024px;
        padding: 0 50px;
        box-sizing: border-box;
    }
    /****** header tablette ***********/

    header  {
        display: flex;
        /*flex-wrap: wrap;*/
        justify-content: space-between;
        width: 1024px;
        height: 79px;
        margin-bottom: 30px;
    }

    .info_group {
        display: flex;
        flex-direction: column;
        width: 924px;
        height: 322px;
        margin-bottom: 35px;
    }

    .headline{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 53px;
    }
    
    .headline h1 {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 22px;
    }
    .headline  p {
        margin-top: 0;
        margin-bottom: 35px;
    }
    
    .search_bar{
        display: flex;
        margin-bottom: 35px;
        height: 49px;
    }

    .filter_bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        height: 91px;
        margin-bottom: 35px;
    }

    .filter_bar h3 {
        font-size: 18px;
        height: 21px;
        padding-right: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
  /****** hebergements and populaires tablette ***********/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** footer tablette***********/
    footer {
        display: flex; 
        background-color:#F2F2F2;
        width: 924px;
        height: 163px;
    }

    footer h3   {
        font-size:18px;
        font-weight: 700;
        margin: 0px;
        padding-bottom: 15px;
    }

    footer ul   {
        list-style-type: none;
        padding-left: 0;
        margin: 0px;
    }

    footer li   {
        padding-bottom: 15px;
    }

    footer a    {
        font-size:16px;
        font-weight: 400; 
        line-height: 18.78px;  
    }

    .class_footer   {
        display: flex;
        flex-direction: column;
        width: 248px;
        height: 123px;
        padding: 20px;
    }
}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        width: 100%;
        max-width: 1024px;
        padding: 0 50px;
        box-sizing: border-box;
    }
   /****** Header ***********/
    /****** Info-Group ***********/

    input[type="submit"] {
    display: none
    }

    .mag-btn button {
        display: flex;
        align-items: end;
        padding: 15px 16px;
        height: 49px;
        background-color: #0065FC;
        border: 1px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .mag-btn i{
        color: #FFF;
        width: 17px;
        height: 19px;
    }

    /****** Hebergements And Populaires ***********/
    /****** Activités***********/
    /****** Footer ***********/

}